<form [formGroup]="taskModalForm" (ngSubmit)="saveTask(taskModalForm)">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{editMode ? 'Edit' : 'Create'}} Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <input  type="text"
              name="title"
              formControlName="title"
              class="form-control"
              placeholder="New Task">
    </div>
    <div class="form-group">
      <select class="form-control" formControlName="bucket" name="bucket">
        <option *ngFor="let bucket of buckets" value="{{bucket}}">{{bucket}}</option>
      </select>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input class="form-control"
               placeholder="yyyy-mm-dd"
               name="end"
               ngbDatepicker
               #end="ngbDatepicker"
               formControlName="end"
               [minDate]="todaysDate()">

        <div class="input-group-append">
          <button class="btn btn-secondary calendar" (click)="end.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="submit" class="btn btn-primary">{{editMode ? 'Save' : 'Create'}} Task</button>
  </div>
</form>
