<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Calendar Modal</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <ul>
    <li>{{event.title}}</li>
    <li>{{event.start | date}}</li>
    <li>{{event.end | date}}</li>
  </ul>

  <form></form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
  <button type="submit" class="btn btn-success">Save</button>
</div>
