
<div class="container">
  <h3 class="my-3">Task List</h3>
  <div class="mb-3 nav">
    <div class="header-container">
      <button type="button" class="btn btn-primary mr-3" (click)="openEditTaskModal()">New Task</button>
    </div>

    <div>
      <button (click)="clearList()" class="btn btn-secondary mr-3">Clear List</button>
      <a [routerLink]="['/calendar']" class="btn btn-secondary mr-3">View Calendar</a>
      <a [routerLink]="['/break-time']" class="btn btn-secondary">Take A Break</a>
    </div>
  </div>
  <div class="oi oi-ellipses"></div>

  <table class="table table-bordered table-striped">
    <thead>
      <th>Task Name</th>
      <th>Created</th>
      <th>Complete Task By</th>
      <th>Bucket</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList">
        <td>{{task.name}}</td>
        <td>{{task.created}}</td>
        <td>{{task.dueDate.month}}/{{task.dueDate.day}}/{{task.dueDate.year}}</td>
        <td class="text-capitalize">{{task.bucket}}</td>
        <td class="text-right" width="1%">
          <div ngbDropdown>
            <button class="btn btn-outline-secondary" id="moreMenu" ngbDropdownToggle>More</button>
            <div ngbDropdownMenu aria-labelledby="moreMenu">
              <a ngbDropdownItem [routerLink]="['/calendar']" class="btn btn-secondary mr-2">View On Calendar</a>
              <button ngbDropdownItem class="btn btn-success mr-2" (click)="openEditTaskModal(task)">Edit</button>
              <button ngbDropdownItem class="btn btn-danger" (click)="removeTask(task)">Remove</button>
            </div>
          </div>
        </td>
      </tr>

      <tr *ngIf="!taskList.length">
        <td class="empty-list" colspan="100">
          <p><strong>Create a Task</strong></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
