
<div class="container">
  <h3 class="my-3">Task List</h3>
  <div class="mb-3 nav">
    <div class="header-container">
      <button type="button" class="btn btn-primary mr-3" (click)="openEditTaskModal()">New Task</button>
    </div>

    <div>
      <button (click)="clearList()" class="btn btn-secondary mr-3">Clear List</button>
      <a routerLink="/calendar/0" class="btn btn-secondary mr-3">View Calendar</a>
      <a routerLink="/break-time" class="btn btn-secondary">Take A Break</a>
    </div>
  </div>
  <div class="oi oi-ellipses"></div>

  <table class="table table-bordered table-striped">
    <thead>
      <th>Task</th>
      <th>Created</th>
      <th>Complete Task By</th>
      <th>Bucket</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList">
        <td>{{task.title}}</td>
        <td>{{task.start.month}}/{{task.start.day}}/{{task.start.year}}</td>
        <td>{{task.end.month}}/{{task.end.day}}/{{task.end.year}}</td>
        <td class="text-capitalize">{{task.bucket}}</td>
        <td class="text-right" width="1%">
          <div ngbDropdown>
            <a ngbDropdownToggle>
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg>
            </a>
            <div ngbDropdownMenu>
              <a ngbDropdownItem [routerLink]="['/calendar', task.id]" class="btn btn-secondary">View On Calendar</a>
              <button ngbDropdownItem class="btn btn-success" (click)="openEditTaskModal(task)">Edit</button>
              <button ngbDropdownItem class="btn btn-danger" (click)="removeTask(task)">Remove</button>
            </div>
          </div>
        </td>
      </tr>

      <tr *ngIf="!taskList.length">
        <td class="empty-list" colspan="100">
          <p><strong>Create a Task</strong></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
