
<div class="container">
  <h3>To Do List</h3>
  <div class="mb-3 nav">
    <div class="header-container">
      <form #taskForm="ngForm" class="form-inline mb-3" (ngSubmit)="addTask(taskForm)">
        <div class="form-group mr-3">
          <input type="text" name="name" [(ngModel)]="task.name" class="form-control" placeholder="New Task">
        </div>
        <select class="form-control mr-3" [(ngModel)]="task.bucket" name="bucket" placeholder="">
          <option *ngFor="let bucket of buckets" [value]="bucket">{{bucket}}</option>
        </select>

        <!-- <label class="input-group-append mr-3" (click)="d.toggle()">
          <input class="form-control" placeholder="yyyy-mm-dd"
               name="dueDate" [(ngModel)]="task.dueDate" ngbDatepicker #d="ngbDatepicker">
        </label> -->

        <!-- <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div> -->

        <button type="submit" class="btn btn-primary mr-3">Add to list</button>
      </form>
    </div>

    <div class="mt-3">
      <button (click)="clearTask()" class="btn btn-secondary mr-3">Clear Task</button>
      <button (click)="clearList()" class="btn btn-secondary mr-3">Clear List</button>
      <button (click)="viewOnCalendar()" class="btn btn-secondary mr-3">View On Calendar</button>
      <button (click)="takeABreak()" class="btn btn-secondary">Take A Break</button>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <th>Task</th>
      <th>Created</th>
      <th>Complete Task By</th>
      <th>Bucket</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList">
        <td>{{task.name}}</td>
        <td>{{task.created}}</td>
        <td>{{task.dueDate}}</td>
        <td>{{task.bucket}}</td>
        <td class="text-right">
          <button class="btn btn-success mr-2">Edit</button>
          <button class="btn btn-danger" (click)="removeTask(task)">Remove</button>
        </td>
      </tr>

      <tr *ngIf="!taskList.length">
        <td class="empty-list" colspan="100">
          <p><strong>Create a Task</strong></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
