.nav {
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: rgba(0,0,0,.05);
  padding: 15px;
}

.empty-list {
  position: relative;
  height: 200px;
}

.empty-list p {
  position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dropdown-toggle::after {
  display:none;
}

a.dropdown-toggle {
  color: black;
}
